<footer class="footer-modern">
    <div class="footer-content">
        <div class="footer-brand">
            <img src="/images/favicon/favicon-32x32.png" alt="logo" width="24" height="24">
            <span><%= __('app.title') %> v<%= version %></span>
        </div>
        <div class="footer-links">
            <a href="https://github.com/mateof/mock-server" target="_blank"><i class="fa fa-github"></i> <%= __('footer.github') %></a>
            <a href="https://github.com/mateof/mock-server/blob/main/README.md"><i class="fa fa-book"></i> <%= __('footer.docs') %></a>
        </div>
    </div>
</footer>
